@page
@model WEB_153504_Pryhozhy.IdentityServer.Pages.ExternalLogin.Challenge

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>