@{
    ViewData["Title"] = "Menu";
}

<h3>Список</h3>
<ol type="A">
    @for(int i = 1; i <= 3; i++)
    {
        <li>Элемент списка @i</li>
    }
</ol>
<hr />
<h3>Форма</h3>
<form method="post">
    <div class="col-sm-10 offset-sm-2">
        <!-- Dropdown list -->
        <label for="selectedOption">Выберите опцию:</label>
        <select class="form-select" name="selDemo" asp-items="@Model" class="form-control"></select>
        <!-- Radio buttons -->
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="rowRadios1" name="rowRadios" />
            <label class="form-check-label" for="rowRadios1">
                Radio3
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="rowRadios2" name="rowRadios" />
            <label class="form-check-label" for="rowRadios2">
                Radio2
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="rowRadios3" name="rowRadios" />
            <label class="form-check-label" for="rowRadios3">
                Radio3
            </label>
        </div>
    </div>
    <br />
    <!-- Login and password inputs -->
    <div class="mb-3 row">
        <label for="loginInput" class="col-sm-2 col-form-label">Логин</label>
        <div class="col-sm-10">
            <input class="form-control" id="loginInput" placeholder="Введите имя...">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="passwordInput" class="col-sm-2 col-form-label">Пароль</label>
        <div class="col-sm-10">
            <input class="form-control" id="passwordInput" placeholder="Введите пароль...">
        </div>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Отправить</button>
    </div>
</form>