@using WEB_153504_Pryhozhy.Domain.Models;
@model ListModel<Pizza>;

@{
    ViewData["Title"] = "Pizzas Catalog";
    var categories = ViewData["categories"] as List<Category>;
}

<h2>Каталог пицц</h2>
<br />
<!-- Category picking -->
<div class="col-2 border-2">
    <div class="dropdown me-2 ml-2 ms-2">
        <button class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenu2"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            @ViewData["currentCategory"]
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li>
                <a class="dropdown-item"
                   asp-controller="pizza"
                   asp-route-category=@null>Все</a>
            </li>
            @foreach (var item in categories)
            {
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item"
                       asp-controller="pizza"
                       asp-route-category="@item.NormalizedName">
                        @item.Name
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
<br />

<partial name="_CatalogPartial" />

