@{
    var controller = ViewContext.RouteData.Values["controller"]?
    .ToString()?
    .ToLower()
    ?? String.Empty;
    var area = ViewContext.RouteData.Values["area"]?.ToString()?.ToLower() ?? String.Empty;
}

<a class="navbar-brand" href="#">WebLabsV 2.0</a>
<div class="navbar-nav">
    <a class="nav-item nav-link @(controller=="home"?"active":"")" asp-controller="home" asp-action="Index">Лб 1</a>
    <a class="nav-item nav-link @(controller=="pizza"?"active":"")" asp-controller="pizza" asp-action="Index">Каталог</a>
    <a class="nav-item nav-link @(area == "admin" ? "active" : "")" asp-area="Admin" asp-page="/Pizzas/Index">Администрирование</a>
</div>