﻿@{
    var isAuthenticated = User.Identity?.IsAuthenticated ?? false;
    var username = User.Claims.FirstOrDefault(c => c.Type.Equals("Name", StringComparison.OrdinalIgnoreCase))?.Value;
}

@if (isAuthenticated)
{
    <a class="navbar-text ms-auto"
       asp-controller="Cart"
       asp-action="Index">
        @await Component.InvokeAsync("Cart")
        <i class="fa-solid fa-cart-shopping"></i>
        (0)
    </a>
    <div class="dropdown ms-4 nav-color">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            @username
            <img src="https://localhost:7003/avatar" width="20" alt="User" class="rounded nav-color" />
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
                <span class="dropdown-item-text">
                    <img src="https://localhost:7003/avatar" width="50" alt="User" class="rounded" />
                    @username
                </span>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form action="POST" id="logoutForm" class="form-inline">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark" asp-controller="identity" asp-action="Logout">
                        Logout
                    </button>
                </form>
            </li>
        </ul>
    </div>
}

@if (!isAuthenticated)
{
    <div class="ms-auto navbar-text navbar-nav">
        <a id="login" class="nav-link btn btn-link text-white" asp-controller="identity" asp-action="Login">
            Login
        </a>
    </div>
}
