<a class="navbar-text ms-auto" asp-controller="Cart" asp-action="Index">
    00,0 руб <i class="fa-solid fa-cart-shopping"></i> (0)
</a>
<div class="dropdown ms-4 nav-color">
    <button class="btn btn-secondary dropdown-toggle" type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        User@gmail.com
        <img src="images/default-profile-picture.png"
             width="30"
             alt="User" class="rounded nav-color" />
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
            <span class="dropdown-item-text">
                <img src="images/default-profile-picture.png"
                     width="50" alt="User" class="rounded" />
                user@gmail.com
            </span>
        </li>
        <li><hr class="dropdown-divider"></li>
        <!-- Logout form -->
        <li>
            <a class="nav-link btn btn-link text-dark" asp-controller="Identity" asp-action="LogOut">
                Logout
            </a>
        </li>
    </ul>
</div>